%script{:type=>"text/javascript"}
  jQuery("#opportunity_name").parent().html('#{j render(:partial=> "top_section_patch", :formats=>[:html], :locals=>{:f=>f})}');
  jQuery("#opportunity_amount").disable()
  jQuery('#opportunity_name').change(function() { 
  root = this; 
  select_option = jQuery('option', $(root)).filter(function(i,e){return  jQuery(e).attr('value') ==  root.value;}); 
  jQuery('#opportunity_amount')[0].value = select_option.attr('data-price')
  })
  



